<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/start-app']">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bienvenido nombreUsuario</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="titulo-page">
    <h1>DuocApp</h1>
    <h3>Presente Profe!</h3>  
    <img src="./../../assets/icon/1200px-Logo_DuocUC.svg.png" alt="">
  </div>

  <div>
    
  </div>
  <ion-button>Registrar Asistencia</ion-button>
</ion-content>
