<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start" [routerLink]="['/start-app']">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="titulo-login-page">
      <h1>Presente Profe!</h1>
      <h3>Duoc UC</h3>
    </div>

    <div class="form-login">
      <ion-input label="Usuario" labelPlacement="stacked" placeholder="Ingrese nombre de usuario"></ion-input>

      <ion-input label="Password" type="password" labelPlacement="stacked" placeholder="*******"></ion-input>
    </div>

    <div class="form-buttons">
      <ion-button fill="outline"[routerLink]="['/home']" >Ingresar</ion-button>

      <a href="" [routerLink]="['/registro']" >Crea tu cuenta gratis</a>
    </div>

</ion-content>
