<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']" color="primary">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-button>SkeletonAPP</ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo-login-page">
    <h1>Bienvenido!</h1>
    <h3>Usuario</h3>
  </div>

  <div>
    <h3>Informacion Adicional</h3>

    <ion-input label="Input with placeholder" placeholder="Enter company name"></ion-input>

    <ion-input label="Input with placeholder" placeholder="Enter company name"></ion-input>

    <ion-select label="Nivel de Educación" placeholder="Seleccione Nivel">
      <ion-select-option value="basica-completa">Basica Completa</ion-select-option>
      <ion-select-option value="media-completa">Media Completa</ion-select-option>
      <ion-select-option value="superior-incompleta">Superior Incompleta</ion-select-option>
      <ion-select-option value="superior-completa">Superior Completa</ion-select-option>
    </ion-select>

    <div>
      <ion-button>Default</ion-button>
      <ion-button>Default</ion-button>
    </div>

  </div>

</ion-content>
